hr {
    border: 2px solid var(--color-shadow);
    width: 60%;
    margin: 0 auto;
    box-shadow: var(--color-shadow) 2px 2px 4px 2px;
}

footer {
    width: 100%;
    margin-top: 1%;
    padding-bottom: 1rem;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.linkDev {
    width: 95%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.linkDev>p {
    font-size: 15px;
}

@media screen and (max-width: 750px) {
    .linkDev{
       justify-content: flex-end;
    }

    .linkTeacher {
        display: flex;
        flex-direction: row;
        width: fit-content;
        gap: 10px;
        background-color: azure;
        border-radius: 6px;
        box-shadow: var(--color-shadow) 2px 2px 4px 2px;
        margin-top: 3%;
        margin-left: 2.5%;
        padding: 10px;
    }

    .linkTeacher>p {
        font-size: 1rem;
        text-wrap: wrap;
        color: var(--color-sphere-2);
    }

    .linkTeacher>a {
        color: black;
        text-decoration: none;
        align-items: center;
    }

    .iconImg {
        height: 30px;
        width: auto;
        position: relative;
        transform: translateY(10px);
    }

}

@media screen and (min-width: 751px) {
    .linkTeacher {
        display: none;
    }
}