div {
    width: 100%;
    min-width: 300px;
    border-radius: 16px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 6);
    margin: 2%;
    font-size: 16px;
    padding: 1%;
}

div>div{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 15px;
    padding: 3%;
}

.blackboard {
    background-color: #003300; /* Dark green for a traditional blackboard */
    opacity: 0.8;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 100 100"><rect width="100" height="100" fill="%23003300"/><path d="M0 0 L100 100 M100 0 L0 100" stroke="%23001100" stroke-width="1"/></svg>');
    width: 88%;
    height: fit-content;
    border: 5px solid #333;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    position: relative;
    overflow: hidden;
  }

.good{
    color: greenyellow;
    font-weight: 600;
}

.wrong{
    color:red;
    font-weight: 600;
}

.perfect {
    width: fit-content;
    margin: 0 auto;
    padding: 4%;
    display: flex;
    justify-content: center;
    gap: 2%;
    align-items: center;
}
.perfect > p {
    color: green;
    font-weight: 700;
}

.perfect > p + p {
    font-size: 35px;
}