
div {
    width: 95%;
    min-width: 280px;
    max-width: 300px;
    border-radius: 16px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 6);
}

.board {
    position: relative;
    width: fit-content;
    height: fit-content;
    min-height: 100px;
    margin: 0 auto;
    padding: 4%;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 2%;
    align-items: center;

    background-color: #003300;
    opacity: 0.8;
    border: 5px solid #333;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    
}

.corrections{
    position: absolute;
    right: 5%;
    top: 2%;
    font-size: 20px;
    
}

.good{
    color: greenyellow;
    font-weight: 600;
}

.wrong{
    color:red;
    font-weight: 600;
}

.perfect {
    width: fit-content;
    margin: 0 auto;
    padding: 4%;
    display: flex;
    justify-content: center;
    gap: 2%;
    align-items: center;
}
.perfect > p {
    color: green;
    font-weight: 700;
}

.perfect > p + p {
    font-size: 35px;
}