@media screen and (max-width: 720px) {

    .topSection {
        margin-top: 60px;
        margin-left: 15px;
    }

   
    .set {
        position: fixed;
        width: 100%;
        top: 2%;
        left: 3%;
        display: flex;
        flex-direction: row;
        height: fit-content;
        gap: 10px;
        align-items: center;
        justify-content: center;
    }

    .tgButton {
        position: absolute;
        right: 5%;
    }

    .centerDiv {
        display: flex;
        gap: 15px;
    }

}


@media screen and (min-width: 721px) {

    .topSection{
        margin-top: 15px;
        margin-left: 5px;
        width: calc(100vw * 0.72);
        text-align: center;
    }

    main {
        margin-top: 1px;
        width: calc(100vw * 0.72);
    }

    .set {
        position: absolute;
        top: 1%;
        right: 2%;
        display: flex;
        flex-direction: column;
        height: fit-content;
        gap: 10px;
        max-width: 25%;
    }

    .centerDiv {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    h1 {
        margin-left: 8%;
    }

   

}

.centerDiv {
    perspective: 500px;
    perspective-origin: 50% 50%;
}

img {
    position: fixed;
    left: 1.2%;
    top: 1.7%;
    box-shadow: 0 1px 4px var(--color-shadow);
}


@media screen and (min-width: 1200px) {

    img {
        width: 100px;
        height: 100px;
    }
}

.buttonES{
    background-color: var(--color-bg-main-button);
    border: 0px;
    font-size: 16px;
    transform: rotate3d(0, 1, 0, 45deg);
    box-shadow: var(--color-shadow) 1px 1px 1px 1px;
}

.buttonPT{
    background-color: var(--color-bg-main-button);
    border: 0px;
    font-size: 16px;
    transform: rotate3d(0, 1, 0, -30deg);
    box-shadow: var(--color-shadow) 1px 1px 1px 1px;
   
}

.ON {
   opacity: 1;
}

.OFF {
    opacity: 0.4;
}

h1 {
    width: 95%;
    text-transform: capitalize;
}