button{
    width: fit-content;
    height: fit-content;
    padding: 2%;
    color: azure;
    background-color: black;
    box-shadow: 0 1px 4px var(--color-shadow);
    font-size: medium;
}

div{
    width: 315px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    gap:1%;
}