@keyframes animateWorld {
    0% {
        transform: rotateY(0deg) rotateX(0deg) rotateZ(0deg);
    }

    50% {
        transform: rotateY(360deg) rotateX(180deg) rotateZ(180deg);
    }

    100% {
        transform: rotateY(720deg) rotateX(360deg) rotateZ(360deg);
    }
}

.world {
    width: 100px;
    height: 100px;
    perspective: 1000px;
}


.world>p {
    position: absolute;
    top: 40%; right: 45%;
    font-size: 16px;
    font-weight: 700;
    border: 0px;
    padding: 2%;
}

.cube {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 100px;
    height: 100px;
    transform-style: preserve-3d;
    animation-name: animateWorld;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.circle {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    opacity: 0.8;
}

.color1 {
    border: 2px dashed var(--color-sphere-1);
}

.color2 {
    border: 2px dashed var(--color-sphere-2);
}

.zero {
    transform: rotateX(90deg);
}

.two {
    transform: rotateY(45deg);
}

.three {
    transform: rotateY(90deg);
}

.four {
    transform: rotateY(135deg);
}

.five {
    width: 86.5px;
    height: 86.5px;
    margin: 7px;
    transform: rotateX(90deg) translateZ(25px);
}

.six {
    width: 86.5px;
    height: 86.5px;
    margin: 7px;
    transform: rotateX(90deg) translateZ(-25px);
}


@media screen and (min-width: 1000px) {
    .world {
        width: 150px;
        height: 150px;
    }

    .world>p {
        font-size: 24px;
    }

    .cube {
        width: 150px;
        height: 150px;
    }

    .five {
        width: 130px;
        height: 130px;
        margin: 10.5px;
        transform: rotateX(90deg) translateZ(37.5px);
    }

    .six {
        width: 130px;
        height: 130px;
        margin: 10.5px;
        transform: rotateX(90deg) translateZ(-37.5px);
    }
}