main>nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    padding: 3%;
    font-size: large;
}

section {
    padding: 5%;
    max-width: 385px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
}

.capitalize {
    text-transform: capitalize;
}
.subtitle {
    color: var(--color-base-text1);
    font-size: 1.3rem;
    font-weight: 600;
    padding: 1%;
}
.subtitle::first-letter{
    text-transform: uppercase;
}
.frase{
    margin-left: 3%;
    font-size: 1.2rem;
}

main>div {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 25px;
}

.next {
    position: absolute;
    right: 5%;
    bottom: 0%;
    padding: 2%;
}

@media screen and (min-width: 721px) {

    main>div {
        width: 100%;
        margin-top: 3%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }

}