nav {
    width: fit-content;
    padding: 3%;
    margin: 0 auto;
}

nav>div {
    padding-top: 5%;

}

@media screen and (max-width: 900px) {
    nav>div {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
}



@media screen and (min-width: 900px) {

    nav>div {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 20px;
    }

    nav>div>div {
        width: 50%;
        min-width: 350px;
        max-width: 390px;
    }

}


nav>p {
    text-transform: capitalize;
    padding: 1%;
}

li {
    padding: 1%;
}

a {
    font-size: 1.1rem;
}