nav {
    width: fit-content;
    padding: 3%;
    margin: 0 auto;
}

nav>div {
    padding-top: 5%;
}

nav>div>div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px;
    border-radius: 6px;
    box-shadow: var(--color-shadow) 2px 2px 4px 2px;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-right: 1%;
    min-width: 280px;
}

@media screen and (max-width: 900px) {
    nav>div {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
}



@media screen and (min-width: 900px) {

    nav>div {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 20px;
    }

    nav>div>div {
        width: 50%;
        min-width: 350px;
        max-width: 390px;  
    }

}


nav>p {
    text-transform: capitalize;
    padding: 1%;
}

nav>div>div>p{
    margin-left: 15px;
}


a {
    font-size: 1.1rem;
    margin-left: 20px;
}

.scorelink {
    color: var(--color-sphere-2);
    text-decoration: none;
}

.scorediv {
    background-color: azure;
}