@media screen and (max-width: 750px) {
    aside {
        display: none;
    }
}

@media screen and (min-width: 751px) {
    aside {
        display: flex;
        position: absolute;
        right: 3%;
        bottom: 15%;
    }

    .linkTo {
        padding-top: 15px;
        width: 100px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        background-color: azure;
        border-radius: 6px;
        box-shadow: var(--color-shadow) 2px 2px 4px 2px;
        padding: 20px;
    }

    .linkTo>p {
        font-size: 1rem;
        text-wrap: wrap;
        color: var(--color-sphere-2);
    }

    .linkTo>a {
        color: black;
        text-decoration: none;
        align-items: center;
    }

    .iconImg {
        height: 30px;
        width: auto;
        position: relative;
        transform: translateY(10px);
    }

}