main>nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    padding: 3%;
    font-size: large;

}

.capitalize{
   text-transform: capitalize;
}

.audio-set{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
}

@media screen and (min-width: 721px) {

    main>div {
        margin-top: 3%;
    }

}