.selectBtn {
    background-color: var(--color-bg-main-button);
    border: 0px;
    font-size: 14px;
    box-shadow: var(--color-shadow) 1px 1px 1px 1px;
}

.center {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 3%;
    padding-bottom: 3%;
    gap: 15px;
}

 

  