main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
    width: calc(100vw * 0.88);
    min-height: 100%;
}


@media screen and (max-width: 720px) {

    main {
        margin-top: 60px;
    }

    .set {
        position: fixed;
        top: 2%;
        left: 3%;
        display: flex;
        flex-direction: row;
        height: fit-content;
        gap: 10px;
        align-items: center;
    }

}

@media screen and (min-width: 721px) {

    main {
        margin-top: 3%;
    }

    .set {
        position: absolute;
        top: 3%;
        right: 5%;
        display: flex;
        flex-direction: column;
        height: fit-content;
        gap: 10px;
    }

}