main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
    width: calc(100vw * 0.85);
    min-height: 100%;
    min-width: 280px;
    max-width: 1000px;
    margin: 0 auto;
}

main>h1 {
    text-transform: capitalize;
}


@media screen and (max-width: 720px) {

    main {
        margin-top: 60px;
    }

    .set {
        position: fixed;
        width: 100%;
        top: 2%;
        left: 3%;
        display: flex;
        flex-direction: row;
        height: fit-content;
        gap: 10px;
        align-items: center;
        justify-content: center;
    }

    .tgButton {
        position: absolute;
        right: 5%;
    }

    .centerDiv {
        display: flex;
        gap: 15px;
    }

}

@media screen and (min-width: 721px) {

    main {
        margin-top: 1px;
        width: calc(100vw * 0.72);
    }

    .set {
        position: absolute;
        top: 1%;
        right: 2%;
        display: flex;
        flex-direction: column;
        height: fit-content;
        gap: 10px;
        max-width: 25%;
    }

    .centerDiv {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

}

.centerDiv {
    perspective: 500px;
    perspective-origin: 50% 50%;
}

.buttonES{
    background-color: var(--color-bg-main-button);
    border: 0px;
    font-size: 16px;
    transform: rotate3d(0, 1, 0, 45deg);
    box-shadow: var(--color-shadow) 1px 1px 1px 1px;
}

.buttonPT{
    background-color: var(--color-bg-main-button);
    border: 0px;
    font-size: 16px;
    transform: rotate3d(0, 1, 0, -30deg);
    box-shadow: var(--color-shadow) 1px 1px 1px 1px;
   
}

.ON {
   opacity: 1;
}

.OFF {
    opacity: 0.4;
}

.selectBtn{
    background-color: var(--color-bg-main-button);
    border: 0px;
    font-size: 14px;
    box-shadow: var(--color-shadow) 1px 1px 1px 1px;
}

.center{
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 3%;
    padding-bottom: 3%;
    gap: 15px;
}

h1 {
    width: 95%;
}