main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
    width: calc(100vw * 0.88);
    min-height: 100%;
}

main>h1 {
    text-transform: capitalize;
}


@media screen and (max-width: 720px) {

    main {
        margin-top: 60px;
    }

    .set {
        position: fixed;
        width: 100%;
        top: 2%;
        left: 3%;
        display: flex;
        flex-direction: row;
        height: fit-content;
        gap: 10px;
        align-items: center;
        justify-content: center;
    }

    .tgButton {
        position: absolute;
        right: 5%;
    }

    .centerDiv {
        display: flex;
        gap: 15px;
    }

}

@media screen and (min-width: 721px) {

    main {
        margin-top: 1px;
        width: calc(100vw * 0.8);
    }

    .set {
        position: absolute;
        top: 1%;
        right: 5%;
        display: flex;
        flex-direction: column;
        height: fit-content;
        gap: 10px;
    }

    .centerDiv {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

}

.centerDiv {
    perspective: 500px;
    perspective-origin: 50% 50%;
}

button {
    background-color: var(--color-bg-main-button);
    border: 0px;
    font-size: 16px;
    transform: rotate3d(0, 1, 0, 45deg);
    box-shadow: var(--color-shadow) 1px 1px 1px 1px;
}