span {
    color:var(--color-base-text1);
}

main>nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    padding: 3%;
    font-size: large;
}

.buttonsDiv{
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px;
}

fieldset, section{
   padding: 2%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px;
}

fieldset>div{
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.centerDiv{
    padding: 2%;
    width: 95%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

@media screen and (min-width: 721px) {

    .buttonsDiv{
        padding: 0;
        width: 95%;
        display:flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content:space-between;
    }

    fieldset, section{
        padding: 2%;
        width: 95%;
        display:flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 15px;
    }

}

.capitalize {
    text-transform: capitalize;
}
.subtitle {
    color: var(--color-base-text1);
    font-size: 1.3rem;
    font-weight: 600;
    padding: 1%;
}
.subtitle::first-letter{
    text-transform: uppercase;
}
.frase{
    margin-left: 3%;
    font-size: 1.2rem;
}
